@import "../styles/mixins";
@import "../styles/variables";

.admin-layout {
  display: flex;
  min-height: 100vh;

  background: linear-gradient(135deg, #f1f5f9, #e2e8f0);
  color: #0f172a;
}

/* CONTENT */
.admin-content {
  flex: 1;
  padding: 28px 10px;

  @include tablet {
    padding-top: var(--topbar-height);
  }
}