@import "../styles/mixins";
@import "../styles/variables";

/* =========================
   BASE SIDEBAR
========================= */

.admin-sidebar {
  position: relative;
  width: 260px;
  min-height: 100vh;

  background: #1e293b;
  color: #fff;

  display: flex;
  flex-direction: column;

  padding: 22px;
  gap: 22px;

  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.15);

  transition: transform 0.3s ease;
  z-index: 1002;
}

/* =========================
   LOGO
========================= */

.logo {
  font-size: 20px;
  font-weight: 800;

  span {
    color: #6366f1;
  }
}

/* =========================
   NAV
========================= */

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* =========================
   LINKS
========================= */

nav a {
  text-decoration: none;
  color: #cbd5e1;

  padding: 10px 12px;
  border-radius: 10px;

  font-size: 14px;
  font-weight: 500;

  transition: 0.2s ease;

  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
  }

  &.active {
    background: linear-gradient(135deg, #6366f1, #4f46e5);
    color: #fff;
    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
  }

  .link-name {
    display: inline;
  }
}

/* =========================
   BURGER
========================= */

.burger {
  position: fixed;
   top: calc(12px + env(safe-area-inset-top));
  left: calc(12px + env(safe-area-inset-left));

  z-index: 1100;

  background: #1e293b;
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 24px;
  padding: 6px 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

 .burger.open {
    left: 220px;
  }

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

/* =========================
   OVERLAY
========================= */

.sidebar-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.25s ease;

  z-index: 1001;
}



/* =========================
   MOBILE SLIDE MENU
========================= */

@media (max-width: 768px) {
  .admin-sidebar {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 260px;

    transform: translateX(-100%);
  }

  .sidebar-overlay.show {
  opacity: 1;
  pointer-events: all;
}

  .admin-sidebar.open {
    transform: translateX(0);
  }
}