@import 'variables';

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; // Cała szerokość okna
  height: 100vh; // Cała wysokość okna
  background: rgba(255, 255, 255, 0.85); // Jasne, półprzezroczyste tło
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; // Musi być nad wszystkim (nawet nad modalem)
  backdrop-filter: blur(3px); // Lekkie rozmycie tła

  .loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    p {
      font-size: 1.2rem;
      font-weight: 600;
      color: $primary-dark;
      margin: 0;
    }
  }
}